@charset "UTF-8";

@media screen and (max-width: 480px){
    #c2 {
        padding: 0px 8px;
    }
}

@media screen and (max-width: 450px){
    #b2 {
        padding: 0px 8px;
    }
    #c2 {
        padding: 0px 7px;
    }
}

@media screen and (max-width: 430px){
    #chave {
        font-size: 1.2em;
    }

    h1 {
    font-size: 1.3em;
    }

    p {
        font-size: 1em;
    }

    .posicao {
        font-size: 1.1em;
    }

    a{
        font-size: 0.8em;
    }

    #pos,
    #tela {
        font-size: 1em;
        margin-top: 5px;
    }

    #b2 {
        padding: 0px 8px;
    }
    #c2 {
        padding: 0px 6.5px;
    }
}

@media screen and (max-width: 415px){
    #b2 {
        padding: 0px 7.7px;
    }
    #c2 {
        padding: 0px 6px;
    }
}

@media screen and (max-width: 405px){
    #b2 {
        padding: 0px 7px;
    }
    #c2 {
        padding: 0px 5.5px;
    }
}

@media screen and (max-width: 395px) {
    #b2 {
        padding: 0px 6.5px;
    }

    #c {
        padding: 0px 5.5px;
    }

    #a1,
    #a2,
    #a3,
    #a4,
    #a5 {
        padding: 0px 6px;
    }
    
    #c2 {
        padding: 0px 4.5px;
    }
}

@media screen and (max-width: 380px){
    #b2 {
        font-size: min(1.67em, 5vw);
        padding: 0px 6px;
    }
    #c2 {
        font-size: min(1.67em, 5vw);
        padding: 0px 3px;
    }
}

@media screen and (max-width: 360px){
    #b2 {
        font-size: min(1.67em, 5vw);
        padding: 0px 6px;
    }
    #c2 {
        font-size: min(1.67em, 5vw);
        padding: 0px 2.5px;
    }
}

@media screen and (max-width: 345px){
    #a1,
    #a2,
    #a3,
    #a4,
    #a5,
    #b1,
    #c {
        padding: 0px 4px;
    }
}