@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(227, 244, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main {
    padding: 20px;
    margin: 8px;
    flex: 0 1 500px;
    background-color: white;
    height: max-content;
    box-shadow: 2px 2px 5px rgba(0, 8, 54, 0.242);
    border-radius: 20px;
    transition: 900ms;
}

h1 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px rgba(31, 31, 31, 0.157);
    translate: 0px;
}

p {
    text-align: justify;
    font-size: 1.1em;
    translate: 0px;
}

#botao {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 0.7em;
    font-weight: 500;
    color: rgb(68, 0, 132);
    padding: 5px 20px 8px 8px;
    background-color: rgba(102, 0, 255, 0.185);
    box-shadow: 1px 1px 3px rgba(92, 43, 226, 0.505);
    border-radius: 20px 100% 100% 20px;
    cursor: pointer;
}

#vol {
    border-radius: 100% 20px 20px 100%;
    padding: 5px 8px 8px 30px;
    opacity: 0;
    cursor: pointer;
}

mark {
    padding: 0px 8px;
    border-radius: 5px;
    background-color: rgba(102, 0, 255, 0.185);
}

#chave {
    text-align: center;
    font-size: 1.3em;
    line-height: 0em;
    display: block;
}

h1,
p {
    transition: 850ms;
}

strong{
    font-weight: bold;
}

.cod {
    font-size: min(1.7em, 4.8vw);
    font-weight: lighter;
    padding: 0px 0px 215px 0px;
    background-color: transparent;
    box-shadow: none;
    color: black;
    border-radius: 0px;
    cursor: default;
}

.a {
    font-size: 1em;
    font-weight: lighter;
    padding: 0px;
    background-color: white;
    border-radius: 50%;
    box-shadow: none;
    color: black;
    cursor: default;
}

#a1,
#a2,
#a3,
#a4,
#a5 {
    padding: 0px 6.5px;
}

#a1 {
    animation-name: lista;
    animation-delay: 2s;
    animation-duration: 11s;
    animation-iteration-count: 10;
}

#a2 {
    animation-name: lista2;
    animation-delay: 3s;
    animation-duration: 11s;
    animation-iteration-count: 10;
}

#a3 {
    animation-name: lista3;
    animation-delay: 4s;
    animation-duration: 11s;
    animation-iteration-count: 10;
}

#a4 {
    animation-name: lista4;
    animation-delay: 5s;
    animation-duration: 11s;
    animation-iteration-count: 10;
}

#a5 {
    animation-name: lista5;
    animation-delay: 6s;
    animation-duration: 11s;
    animation-iteration-count: 10;
}

#b {
    animation-name: lista6;
    animation-delay: 7s;
    animation-duration: 11s;
    animation-iteration-count: 10;
    padding: 0px 6.5px;
}

#b1 {
    padding: 0px 6.5px;
}

#b2 {
    font-size: min(1.67em, 5.5vw);
    padding: 0px 9px;
    font-weight: 400;
}

#c {
    font-size: 1em;
    padding: 0px 6.5px;
    color: rgba(54, 19, 105, 0.452);
}

#c2 {
    background-color: transparent;
    font-size: min(1.67em, 5.5vw);
    font-weight: 400;
    padding: 0px 9px;
    color: rgba(54, 19, 105, 0.452);
}

#p {
    background-color: transparent;
    font-size: 1em;
    font-weight: normal;
    padding: 0px;
    color: rgb(111, 56, 194);
}

.tela,
#pos {
    cursor: default;
    margin-top: 20px;
    font-size: 1.2em;
    background-color: black;
    display: block;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: none;
    color: white;
}

#pos {
    opacity: 0;
    animation-name: pos;
    animation-delay: 7.2s;
    animation-duration: 11s;
    animation-iteration-count: 10;
    background-color: transparent;
}

a {
    color: rgb(0, 174, 255);
    text-decoration: none;
}

#d1,
#d2,
#d3,
#d4 {
    cursor: default;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    color: white;
    opacity: 0;
}

#d1 {
    animation-name: dots;
    animation-delay: 1.3s;
    animation-duration: 4.5s;
    animation-iteration-count: 80;
    padding: 0px 10px;
}

#d2 {
    animation-name: dots;
    animation-delay: 1.9s;
    animation-duration: 4.5s;
    animation-iteration-count: 80;
    padding: 0px 10px;
}

#d3 {
    animation-name: dots;
    animation-delay: 2.4s;
    animation-duration: 4.5s;
    animation-iteration-count: 80;
    padding: 0px 10px;
}

#d4 {
    animation-name: dots;
    animation-delay: 3s;
    animation-duration: 4.5s;
    animation-iteration-count: 80;
    padding: 0px 10px;
}

@keyframes lista {
    0% {
        background-color: rgba(97, 1, 240, 0.249);
    }

    40% {
        background-color: rgba(97, 1, 240, 0.249);

    }
}

@keyframes lista2 {
    0% {
        background-color: rgba(97, 1, 240, 0.249);
    }

    23% {
        background-color: rgba(97, 1, 240, 0.249);
    }
}

@keyframes lista3 {
    0% {
        background-color: rgba(97, 1, 240, 0.249);
    }

    15% {
        background-color: rgba(97, 1, 240, 0.249);
    }
}

@keyframes lista4 {
    0% {
        background-color: rgba(97, 1, 240, 0.249);
    }

    2% {
        background-color: rgba(97, 1, 240, 0.249);
    }
}

@keyframes lista5 {
    0% {
        background-color: rgba(97, 1, 240, 0.249);
    }

    0.1% {
        background-color: rgba(97, 1, 240, 0.249);
    }
}

@keyframes lista6 {
    0% {}

    5% {
        background-color: rgba(0, 140, 255, 0.418);
    }
}

@keyframes pos {
    1% {
        opacity: 100;
    }

    80% {
        opacity: 0;
    }
}

@keyframes dots {
    0% {
        opacity: 100;
    }

    80% {
        opacity: 0;
    }
}