@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

#circulo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid blue;
    border-top:  3px solid transparent;
    border-right: 1px solid transparent;
    display: inline-block; 
}

body{
    background: rgb(10, 132, 208) url(fundo.png) center center repeat scroll;
    background-size: 60px;
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

main{
    margin: 15px;
    flex: 0 1 600px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.389);
}

h1{
    margin: 30px 0px 30px 0px;
    text-shadow: 0px 2px 0px rgba(128, 128, 128, 0.489);
}

h1,
p,
input,
#botao{
    text-align: center;
}

p,
button{
    /* font-weight: bold; */
    text-shadow: 0px 2px 0px rgba(128, 128, 128, 0.489);
}

h2{
    margin-bottom: 30px;
}

#lab{
    transition: .5s;
    font-size: 1.2em;
}

.ape{ transform: translate(-30px, 32px); }
.doce{ transform: translate( 0px, 32px); }
.filme{ transform: translate(-9px, 32px); }

mark{
    padding: 0px 5px;
    background-color: white;
    color: rgba(33, 33, 33, 0.809);
}

.info{
    width: max(22%, 220px);
    height: 45px;
    font-size: 1em;
    border-radius: 6px;
    border: 2px solid rgb(251, 87, 87);
    outline: none;
    text-align: left;
    padding: 0px 18px;
}

p{
    margin-bottom: 15px;
    font-size: 1.5em;
}

td{
    font-size: 1.5em;
    padding: 8px 13px;
    background-color: lightgray;
    cursor: pointer;
}

#bloco1, #bloco2{
    margin: 20px 0px;
    padding: 10px 0px;
}

#lista{
    display: inline-block;
    text-align: center;
    width: max(65%, 250px);
    background-color: rgba(117, 209, 255, 0.222);
    border-radius: 10px;
}

#visitas{
    width: 80px;
    border-radius: 50%;
}

span{
    font-size: 1em;
}

hr{
    border: 1px solid rgba(0, 0, 0, 0.521);
    margin-top: 15px;
}

#bloco2 input{
    display: none;
}

input:checked + img{
    border: 5px solid black;
    padding: 0px;
}

em{
    font-style: normal;
    font-size: 1.4em;
}

.c{
    color: white;
}

#nomecustom{
    display: block;
    margin: 0px 0px 10px 0px;
    color: white;
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
    font-size: min(4vw, 1.3em);
}

#customizar{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    width: max(65%, 200px);
    background-color: rgb(171, 171, 171);
    border-radius: 10px;
}

#custom{
    width: max(90%, 200px);
    border-radius: 50%;
    padding: 0px 6px;
}

#normal{
    text-transform: uppercase;
    text-shadow: none;
    font-size: 1.1em;
    font-weight: bold;
}

#bloco2 label{
    cursor: pointer;
}

img{
    width: 60px;
    padding: 5px;
    border-radius: 10px;
    margin: 0px 0px 0px -5px;
}

button{
    margin: 0px 0px 15px 0px;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 20px;
    border: none;
    border-bottom: 6px solid rgb(76, 189, 246);
    background-color: rgba(117, 209, 255, 0.718);
    cursor: pointer;
}