@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Din round', Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1,
input{
    margin: 20px 0px;
}

h1{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.196);
}

#roleta{
    margin-bottom: 30px;
    border: 1px solid rgba(0, 122, 179, 0.516);
    background-color: white;
    align-content: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* rotate: 270deg; */
}

button{
    box-shadow: 1px 2px 4px rgba(0, 96, 140, 0.41);
    background-color: rgba(31, 184, 255, 0.5);
    border: 1px solid rgb(0, 122, 179);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#out{
    background-color: rgba(255, 255, 0, 0.359);
    text-align: center;
    flex: 0 0 150px;
    height: 300px;
    padding-top: 140px;
}

#out2{
    background-color: rgba(0, 128, 0, 0.402);
    text-align: center;
    flex: 0 0 150px;
    height: 300px;
    padding-top: 140px;
}

input{
    margin: 5px 0px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.41);
    font-weight: bold;
    text-align: center;
    height: 25px;
    border-radius: 20px;
    border: 1px solid black;
}

em{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
}

span{
    width: 0;
    height: 0;
    border-top: 25px solid black;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: -10px 0px;
    z-index: 1;
}