@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* um fundo azul bem claro pra não doer muito os olhos
   fonte /system-ui / -apple-system/
*/
body {
    background-color: rgb(227, 244, 255);
    font-family: 'Din round', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 1em;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* bloco com o conteúdo */
main{
    overflow: hidden;
    padding: 20px;
    margin: 8px;
    flex: 0 1 500px;
    background-color: white;
    height: max-content;
    box-shadow: 2px 2px 5px rgba(0, 8, 54, 0.242);
    border-radius: 20px;
    transition: 900ms;
}

/* título afastado do conteúdo */
h1 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px rgba(31, 31, 31, 0.157);
    translate: 0px;
}

/* conteúdo */
p {
    font-weight: 300;
    text-align: justify;
    font-size: 1.1em;
    translate: 0px;
}

/* ambos com transição */
h1,
p {
    transition: 800ms;
}

img {
    width: 100%;
    border-radius: 5px;
}

/* certificando que vai realmente ficar em negrito */
strong {
    font-weight: bold;
}

/* marcador --> destaca as palavras importantes
   parecido com o botão */
mark,
#botao {
    padding: 0px 8px;
    border-radius: 5px;
    background-color: rgba(102, 0, 255, 0.185);
}

/* chave --> usada nos exemplos pra identificar o número procurado 

   espaço para a animação da última página */
#chave,
#procura,
#chute,
#tentativa,
#mm {
    transition: 500ms;
    text-align: center;
    font-size: 1.3em;
    line-height: 0em;
    display: block;
}

/* div responsável pela área dos botões */
#botao {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

/* botão (padrão - avançar) */
span {
    font-size: 0.7em;
    font-weight: 500;
    color: rgb(68, 0, 132);
    padding: 5px 20px 8px 8px;
    background-color: rgba(102, 0, 255, 0.185);
    box-shadow: 1px 1px 3px rgba(92, 43, 226, 0.505);
    border-radius: 20px 100% 100% 20px;
    cursor: pointer;
}

/* botão de voltar */
#vol {
    border-radius: 100% 20px 20px 100%;
    padding: 5px 8px 8px 30px;
    opacity: 0;
    cursor: pointer;
}

/* nível de conhecimento no início da página */
#resposta1,
#resposta2,
#resposta3{
    display: block;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    opacity: 100;
    transition: 800ms;
}

/* classe que define a área de texto dos códigos */
.pag3,
.pag7,
.pag8,
.pospag8,
.pag8final {
    font-size: 1em;
    font-weight: lighter;
    padding: 0px 6.5px;
    background-color: white;
    border-radius: 50%;
    box-shadow: none;
    color: black;
    cursor: default;
}

/* animação da página 3: lista, lista2 */
.pag3:nth-child(2) {
    animation: lista 11s 2s 10;
}

.pag3:nth-child(3) {
    animation: lista 11s 3s 10;
}

.pag3:nth-child(4) {
    animation: lista 11s 4s 10;
}

.pag3:nth-child(5) {
    animation: lista 11s 5s 10;
}

.pag3:nth-child(6) {
    animation: lista 11s 6s 10;
}

.pag3:nth-child(7) {
    animation: lista2 11s 7s 10
}

@keyframes lista {

    0%,
    30% {
        background-color: rgba(97, 1, 240, 0.249);
    }
}

@keyframes lista2 {

    0%,
    5% {
        background-color: rgba(0, 140, 255, 0.418);
    }
}

/* área de código da página 3 */
.cod {
    font-size: min(1.7em, 4.8vw);
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    color: black;
    cursor: default;
}

/* identificador de posição da terceira página */
#PosPag3 {
    font-size: 1em;
    padding: 0px 6.5px;
    color: rgba(54, 19, 105, 0.452);
}

/* tela preta e texto que indica a posição em que a chave se encontra */
.tela,
#pos,
#pos2,
#pos3,
#pos4 {
    cursor: default;
    font-size: 1.2em;
    background-color: black;
    display: block;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: none;
    color: white;
}

#pos2{ opacity: 0; }

/* cor do número que indica a posição encontrada na página 3 */
a {
    color: rgb(0, 174, 255);
    text-decoration: none;
}

/* posição da chave */
#pos {
    opacity: 0;
    animation: pos 11s 7s 10;
    background-color: transparent;
}

/* animação de posição da chave --> pos */
@keyframes pos {
    1% {
        opacity: 100;
    }

    80% {
        opacity: 0;
    }
}

/* pontos que indicam carregamento */
#ponto {
    border-radius: 50%;
    margin: 0px 20px;
    width: 3px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

/* animação: pontos */
#ponto:nth-child(1) {
    animation: pontos 3s .8s 15;
}

#ponto:nth-child(2) {
    animation: pontos 3s 1.4s 15;
}

#ponto:nth-child(3) {
    animation: pontos 3s 1.8s 15;
}

#ponto:nth-child(4) {
    animation: pontos 3s 2.2s 15;
}

@keyframes pontos {
    40% {
        scale: 4;
    }
}

/* COR nos trechos que indicam a posição do vetor */
#cor {
    background-color: transparent;
    font-size: 1em;
    font-weight: normal;
    padding: 0px;
    color: rgb(111, 56, 194);
}

/* tamanho dos números da página 7 */
#numpag7 {
    font-size: min(1.67em, 5.5vw);
    padding: 0px 9px;
    font-weight: 400;
}

/* posição dos números da página 7 */
#PosPag7 {
    background-color: transparent;
    font-size: min(1.67em, 5.5vw);
    font-weight: 400;
    padding: 0px 9px;
    color: rgba(54, 19, 105, 0.452);
}

/* 18 chave página 8 */
.pag8:nth-child(4) {
    animation: meio 10s 2s 1;
}

/* 18 chave página 8 */
@keyframes meio {
    0%, 35%{
        background-color: rgba(97, 1, 240, 0.249);
    }
    50%{
        background-color: rgba(255, 0, 0, 0.767);
    }
}

/* 18 é a chave? página 8 */
#pos2 {
    display: inline-block;
}

#pos2 { animation: meio2 10s 2s 1; }

/* 18 é a chave? página 8 */
@keyframes meio2 {
    0%, 30% {
        color: rgb(43, 188, 255);
        opacity: 100;
    }
    80%{
        opacity: 0;
        color: rgb(255, 31, 31);
    }
}

/* é maior que a chave? página 8 */
#pos3{
    display: inline-block;
    opacity: 0;
    padding: 0px 10px;
}

#pos3{ animation: meio3 7s 11s 1; }

/* é maior que a chave? página 8 */
@keyframes meio3 {
    0%, 30% {
        opacity: 100;
    }
    80%{
        opacity: 0;
        color: rgb(39, 255, 31);
    }
}

/* removendo os valores página 8 */
#pos4{
    color: rgb(20, 180, 255);
    display: inline-block;
    opacity: 0;
    padding: 0px 10px;
}

#pos4{ animation: meio4 11s 17s 1; }

/* removendo os valores página 8 */
@keyframes meio4 {
    0%, 30% {
        opacity: 100;
    }
    80%{
        opacity: 0;
    }
}

/* números e posições página 9 */
.posicao {
    text-align: center;
}

/* chave do usuário página 11 */
input{
    font-size: 1em;
    font-weight: bold;
    width: 210px;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid rgb(159, 86, 208);
    background-color: rgba(184, 106, 237, 0.168);
}

/* botão de iniciar página 11 */
#algoritmo {
    background-color: rgba(0, 174, 255, 0.500);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid rgb(0, 122, 179);
    box-shadow: 2px 2px 2px rgba(0, 79, 116, 0.41);
}

/* sombra nos botões da página 11 */
.sombra {
    box-shadow: 2px 2px 2px rgba(184, 106, 237, 0.453);
}