@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height:100vh;
    background: linear-gradient(245deg, rgb(254, 166, 4), rgb(13, 1, 255)) no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0px 20px 20px 10px;
}
section{
    background-color:rgba(144, 144, 144, 0);
    background-color: rgba(255, 255, 255, 0.291);
    border-radius: 25px;
    overflow: hidden;
    padding: 8px;
    width: 380px;
    box-shadow:3px 3px 4px rgba(0, 0, 0, 0.552);
    border:1px solid black;
}
header{
    background-color: rgba(233, 233, 233, 0.835);
    max-width: 390px;
    height: 150px;
    border-radius: 25px;
    font-size: 3em;
    box-shadow:2px 2px 3px rgba(1, 1, 1, 0.4);
    color: black;
    margin-bottom: 5px;
    padding: 50px 5px 0px 20px;
}
#igual{
    text-align: right;
    font-size: .8em;
    color: rgba(0, 0, 0, 0.637);
}
#info{
    text-align: left;
    font-size: 0.5em;
    color: rgba(0, 0, 0, 0.637);
}
header > #tela{
    color: black;
    text-align: right;
    font-size: 1em;
}
td{
    cursor: pointer;
    border-bottom: 6px inset rgba(10, 108, 194, 0.186);
    color: rgb(0, 0, 47);
    text-shadow: 1px 2px 1px rgba(27, 27, 27, 0.377);
    padding: 8px;
    border-radius: 25px;
    width: 100px;
    background-color: rgb(167, 213, 254);
    font-size: 3.2em;
    text-align: center;
}
td:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
.cor{
    background-color: rgb(86, 190, 255);
}
.apagar{
    background-color: rgb(255, 144, 100);
}